{% extends "/base.html" %}

{% block title%} Display my pose {% endblock %}

{% block main %}
<div class="container">
    <div class="row">
    <div class="card bg-light text-dark border-0">
        <img src="./static/img/lotus_swamp.jpeg" class="card-img" alt="Lotus swamp">
        <div class="card-img-overlay">
            <div class="position-absolute top-50 start-50 translate-middle ">
                <div class="card opaque-card" style="width: 18rem;">
                    <img src="{{ pose_image }}" class="card-img-top" alt="{{chosen_ailment}}">
                    <form>
                    <div class="card-body">
                         
                      <p class="card-text">Problems with: <strong>{{chosen_ailment}}</strong></p>
                        

                        {% if pose_cure != "" %}  
                      <p class="card-text">Practice: <strong>{{pose_cure}}</strong></p>
                      {% endif %}
                      <a href="#" class="btn btn-light">favorite this pose</a>
                    </div>
                    </form>
                  </div>
            </div> 
        </div>
    </div>
    </div>
</div>
{% endblock %}