{% extends "/base.html" %}

{% block title%} Home {% endblock %}

{% block main %}


 <div class="cotainer"> 
    
  <div class="row row-cols-md-3 g-4 justify-content-center " style="padding-left:5rem; padding-right:5rem;">
        
        {% for key, value in names.items() %}
        
        <div class="col " style="max-width: 40rem;">
          <div class="card" style="height: 450px; width: 400px;">
            <img src="{{value}}" class="card-img-top" alt="{{key}}" style="height: 300px; width: 350px;">
            <div class="card-body m-3">
              
              
              <form  action="/sequence" method=" GET, POST">
                
                <h5 class="card-title">{{ key }}</h5>
                <button class="btn rounded-pill button-color" name="name" value="{{key}}" type="submit">Show Sequence</button>
                
            </form>
            </div>
          </div>
        </div>
        
        {% endfor %}
       
      </div>
 </div> 

{% endblock %}
